.btnOpc{
  display: block;
  width: 10rem;
  height: 3rem;
  margin: 1rem;
  color: #fff;
  background-color: #0095ff;
  border: none;
  border-radius: 5px;
}
.btnOpc:hover{
  border: 1px solid rgb(0, 0, 0);
  cursor: pointer;
}